*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 7, 63);
}

.details{
    width: 100%;
    height: 5742px;
    border-radius: 10px;
}

.home-body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
}

.second-role{
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #ffff;
    gap: 10px;
}

.right{
    color: black;
    background-color: rgba(250, 224, 225, 1);
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    margin-right: 28px;
    font-weight: 550;
    font-family: Plus Jakarta Sans;
}

.left{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 30px;
}

.frame1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    
}

.home{
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    line-height: 15px;
}

.header{
    background-color: #ffff;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.header-text{
    display: flex;
    flex-direction: column;
   gap: 30px;
}

.launch-1{
    color:rgba(32, 28, 68, 1) ;
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    font-size: 75px;
    line-height: 62px;
}

.launch-2{
    color: rgba(19, 17, 38, 1);
    font-weight: 400;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    line-height: 40px;
}

.cta{
    gap: 25px;
    display: flex;
    align-items: center;
}

.contact{
    color: black;
    background-color: rgba(250, 224, 225, 1);
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    font-weight: 550;
    font-family: Plus Jakarta Sans;
}

.book{
    color: black;
    font-weight: 550;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
}

.role-1{
    background-color: #ffff;
    margin-right: 50px;
    width: 100%;
}